<nav class="navbar">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggler" data-toggle="open-navbar1">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a href="#">
                <h4>Hi Code<span><img style="width: 50px; height: 50px;"
                            src="https://lh3.googleusercontent.com/a/AAcHTte9smNoOURLl6CgCB1QIorS7IPW5ptHkKVlFcfUXA=s192-c-rg-br100"
                            alt=""></span></h4>
            </a>
        </div>

        <div class="navbar-menu" id="open-navbar1">
            <ul class="navbar-nav">
                <li class="active"><a href="/" routerLink="/">
                        <span>Home</span>
                    </a></li>
                <li><a href="" routerLink="/product">Product</a></li>
                <li><a href="" routerLink="/user">User</a></li>
                <li><a href="#">Signin</a></li>
            </ul>
        </div>
    </div>
</nav>